.find-container {
  /* border: 2px solid green; */
  width: 100%;
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.find-container > input[type="text"] {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.find-container #find-btn {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
}

#show-info-table {
  border: 2px solid var(--primary);
  margin: 1rem;
}

#show-info-table tr td {
  width: 5rem;
  padding: 0.5rem;
}
